table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #29a7e1;
    padding: 0.4em;
}

table th {
    background-color: #00aeef;
    color: white;
}

button {
    padding: 0 2px;
}
 
button[type=submit]{
    color: green;
}
button[type=reset]{
    color: blue;
}
