html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    height: 100%;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient( #67B26F, #4ca2cd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#67B26F, #e4f1f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 4rem;
}

thead, tbody, tfoot {
    text-align: center;
    font-size: 1.1em;
}

thead {
    font-size: 1.3rem;
}



