html {
  height: 100%;
}

body {
  height: 100%;
  background: #60c5c0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #60c5c0,
    #699b40
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #05a396,
    #699b40
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::after {
  content: "";
  background: url(background_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  max-width: 100%;
  z-index: -1;
}

.logo {
  max-width: 20em;
  margin-top: 5%;
  margin-bottom: 2%;
}

thead,
tbody,
tfoot {
  font-size: 1.1em;
}

thead {
  font-size: 1.3rem;
}

.warning {
  color: red;
}

#expiredButton, #allButton {
  color: white;
  background-color: inherit;
  border: 0.1rem solid white;
}

#expiredButton:hover, #allButton:hover {
  background-color: #64af64;
}

#expiredButton:active, #allButton:active {
  color: #bce2a3;
  border-color: #bce2a3;
}

.delete-b,
.edit-b {
  text-decoration: none;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: white;
}

<<<<<<< HEAD

/* tbody tr td:nth-of-type(5) {
  display: flex;
  flex-direction: row;
=======
/* tbody tr td:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  padding-bottom: -5px;
  - to fix bottom border column 5 (edit=delete buttons)
>>>>>>> bb170e38e22ba542f13bea2ca8717555f876b734
} */

@media only screen and (max-width: 1000px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr,
  tfoot,
  .button {
    display: block;
    position: relative;
  }
  
  .button {
    margin-left: 100px;
    margin: 2px;
    padding: 3px;
  }

  thead,
  tbody,
  tfoot {
    text-align: start;
    font-size: 1.1em;
  }

  thead tr {
    display: none;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  .inputs {
    margin-left: auto;
    margin-right: auto;
  }

  .inputs-child {
    display: block;
  }

  tbody tr:hover {
    background-color: transparent;
  }
  td:nth-of-type(1):before {
    content: "Product Name";
  }
  td:nth-of-type(2):before {
    content: "Expiration Date";
  }
  td:nth-of-type(3):before {
    content: "Weight";
  }
  td:nth-of-type(4):before {
    content: "Price";
  }

  input {
    width: 169px;
  }

  thead td,
  tbody td:last-child {
    display: block;
  }

  .logo {
    max-width: 75%;
  }

  tfoot tr td:last-child {
    border-bottom: none;
  }

  .top-buttons {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1001px) {
  tfoot tr td:nth-last-child(1n) {
    border-bottom: none;
  }

  /* tbody tr td:nth-of-type(3), tbody tr td:nth-of-type(4) {
    text-align: right;
    padding-right: 9rem;
    } */

}

@media only screen and (min-width: 1399px) {

  tfoot tr td:nth-last-child(1n) {
    border-bottom: none;
  }

  /* tbody tr td:nth-of-type(3) {
    text-align: right;
    padding-right: 10rem;
    } */

  /* tbody tr td:nth-of-type(4) {
    text-align: right;
    padding-right: 12rem;
    } */
}
@media only screen and (min-width: 1001px) {
  #container {
    width: 960px;
    padding: none;
  }

  #productList thead th {
    padding-right: 1px;
  }

  tfoot tr td:nth-last-child(1n) {
    border-bottom: none;
  }

  thead th:nth-of-type(3), thead th:nth-of-type(4) {
    text-align: right;
  }
    
  tbody tr td:nth-of-type(3), tbody tr td:nth-of-type(4) {
    text-align: right;
  }
}



